<% if !!flash[:error] %>
       <h4> <%= flash[:error] %> </h4> 
<%end%>

<div class="columns">
        <div class="column is-8 is-offset-2">
    
                <h2 class="title is-2 centered"> Books shared by your friends </h2>

                    <% @books.each do |book| %>
                    <a href="/books/<%=book.id%>/show">
                          <article class="message">
                            <div class="message-header">
                                <p>
                                    <strong><%=book.title%> - </strong>
                                    </strong> <%=book.author%> </h5> 
                                </p>
                                <h6> <strong>Shared By:</strong> <%=book.user.username%> </h6>                                   
                            </div>
                            <div class="message-body">
                            <strong> Summary: </strong> <%=book.summary%> <br> <br>
                            <strong> My favorite quote: </strong>    <%=book.quote%>	
                            </div>
                          </article>
                    </a>
                <br>
                <%end%>
        </div>
    </div>



<button > <a href="/logout"> Log Out </a> </button>





