<h4> Your friends have shared Book summaries with you </h4>

<h4> You're Connected to Reading Share -  </h4>
<h4> <%=current_user.username%> </h4>
<a class="btn btn-primary btn-block btn-sm" href="/books/my_books"> Manage my books </a>
<a href="/books/my_books"> manage my books </a>
<button> <a href="/books/new"> Share Reading </a> </button>
<% @books.each do |book| %>
<h5> Book Shared By: <%= book.user.username %> </h5>
<h6>_______________________________________________________________________</h6>
<h4> Book Title:  <%= book.title %> </h4>
<h4> Book Author: <%= book.author %> </h4>
<h4> Summary: <%= book.summary %> </h4>
<h4> Favorite Quote: <%= book.quote %> </h4>
<h6>_________________________________________________________________________</h6>
<% end %>


<button > <a href="/logout"> Log Out </a> </button>


